{% extends "base.html" %}

{% block titulo %}
<title>Sobre mi</title>
{% endblock titulo %}

{% block contenido %}

    
        <section id="save">
            <section class="sheet" data-page-number="1">
                <aside>
                    <section class="contact">
                        <h3>Contacto</h3>
                        <ul>
                            <li>
                                <p><i class="fa fa-map-marker-alt" title="Location"></i> Buenos Aires, Argentina</p>
                            </li>

                            <li>
                                <p><i class="fa fa-envelope" title="Email"></i> <a>martin.bang96@gmail.com</p>
                            </li>
                            <li>
                                <p><i class="fab fa-github" title="GitHub"></i> <a href="https://github.com/martin.bang96">github.com/martin.bang96</a></p>
                            </li>
                        </ul>
                    </section>
                    <section class="skills">
                        <h3>Educacion</h3>
                        <ul>
                            <li><span>Analista de Sistemas / Instituto Tecnologico ORT</span></li>
                            <li><span>Lic. Tecnologia de la informacion / Universidad de Palermo</span></li>
                            <li><span>Data Analytics / CoderHouse</span></li>
                            <li><span>Python / CoderHouse</span></li>
                        </ul>
                    </section>
                    <section class="skills">
                        <h3>Tecnologias aplicadas en el proyecto</h3>
                        <ul>
                            <li><span>Python</span></li>
                            <li><span>Django</span></li>
                            <li><span>Pillow</span></li>
                            <li><span>DBBrowser</span></li>
                        </ul>
                    </section>
                    
                </aside>
                <section>
                    <header class="name" aria-label="Martin Bang">
                        <tspan x="54.728" y="174">MARTIN BANG</tspan>
                    </header>
                    <section>
                        <section class="summary">
                            <h3>Sobre el proyecto</h3>
                            <p>Pagina Web destinada a la adopcion de perros. Refugio virtual donde los usuarios podran compartir
                                los distintos perritos sin horas, permitiendo contactarse entre los usuarios y facilitando la adopcion.

                                
                            </p>
                        </section>
                        
                        
                    </section>
                </section>
            </section>
        </section>
       
{% endblock contenido %}
            
            
    
    
